version: "3.8"

services:
  app:
    build: .
    image: hiafinal_app:latest
    container_name: hiafinal_app
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
    restart: unless-stopped
